/data/
/runs_eliminate/
/deprecated/
*.pyc
*.DS_Store
/runs/
runs_MaxMI/
notebooks/.ipynb_checkpoints/
code/.ipynb_checkpoints/
.ipynb_checkpoints/
code/utils/__pycache__/
code/dagger/__pycache__/
/data_old/
*.npy
/runs_eval_dagger/
/evaluation_maxMI/
/evaluation_dagger/
/training_dagger/
/runs_dagger/
/code/greedy/__pycache__/